
.HeadAp
{
    background-color: #000033;
}

.Body
{
    background-color: White;
}


.SiteTitle
{
    font-family: Verdana Bold, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #cccccc;
}


.OtherTabsAp
{
    background-color: Gray;
    border-color: Black;
}

.SelectedTab
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: Gray;
    background-color: White;
    font-weight: bold;
}

.OtherTabs
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: Olive;
    text-decoration: none;
    font-weight: bold;
}

A.OtherTabs:link
{
    text-decoration: none;
    color: #eeeeee;
}

A.OtherTabs:visited
{
    text-decoration: none;
    color: #eeeeee;
}

A.OtherTabs:active
{
    text-decoration: none;
    color: #eeeeee;
}

A.OtherTabs:hover
{
    text-decoration: none;
    color: Blue;
}

.SiteLink
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
	background-color: #555555
}

A.SiteLink:link
{
    text-decoration: none;
    color: White;
}

A.SiteLink:visited
{
    text-decoration: none;
    color: #eeeeee;
}

A.SiteLink:active
{
    text-decoration: none;
    color: #eeeeee;
}

A.SiteLink:hover
{
    text-decoration: none;
    color: White;
}

.Accent
{
    color: White;
    font-weight: normal;
}

.ItemTitle
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: Red;
}

.ItemTitle2
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: Maroon;
}

.Head
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: normal;
    color: #666644;
}

.Head1
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #666644;
}

.Head2
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #666644;
}

.SubHead
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: Red;
}

.SubSubHead
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: black;
}

.Normal
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 13px;
}

.Normal2
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
}

.NormalTextBox
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
}

.NormalRed3
{
    font-family: Verdana, Helvetica, sans-serif, Tahoma;
    font-size: 14px;
    font-weight: bold;
    color: red;
}

.NormalRed2
{
    font-family: Verdana, Helvetica, sans-serif, Tahoma;
    font-size: 11px;
    font-weight: normal;
    color: red;
}

.NormalRed
{
    font-family: Verdana, Helvetica, sans-serif, Tahoma;
    font-size: 10px;
    font-weight: bold;
    color: red;
}

.NormalGreen
{
    font-family: Verdana, Helvetica, sans-serif, Tahoma;
    font-size: 10px;
    font-weight: bold;
    color: Green;
}

.NormalBlue
{
    font-family: Verdana, Helvetica, sans-serif, Tahoma;
    font-size: 11px;
    font-weight: bold;
    color: Blue;
}

.NormalBlue2
{
    font-family: Verdana, Helvetica, sans-serif, Tahoma;
    font-size: 10px;
    font-weight: bold;
    color: Blue;
}

.NormalWhite
{
    font-family: Verdana, Helvetica, sans-serif, Tahoma;
    font-size: 9px;
    font-weight: bold;
    color: White;
}

.NormalBlack
{
    font-family: Verdana, Helvetica, sans-serif, Tahoma;
    font-size: 10px;
    font-weight: normal;
    color: Black;
}

.NormalSilver
{
    font-family: Verdana, Helvetica, sans-serif, Tahoma;
    font-size: 9px;
    font-weight: normal;
    color: #cccccc;
}

.NormalBold
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.NormalBold2
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.CommandButton
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
}

A.CommandButton:link
{
    text-decoration: none;
    color: Red;
}

A.CommandButton:visited
{
    text-decoration: none;
    color: Red;
}

A.CommandButton:active
{
    text-decoration: none;
    color: Red;
}

.CommandButton2
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

A:link
{
    text-decoration: none;
    color: Red;
}
HR {
    color: Gray;
    height: 1pt;
    text-align: left;
}




